<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a style="font-size:25px" class="navbar-brand" href="#">DeeB <span style="color:darkred;">News...</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ">
      
      <li *ngFor="let dept of departments" class="nav-item">
        <a class="nav-link" routerLinkActivate="Active" [routerLink]="['/departmentcontent',dept.ID]">{{dept.Name}}</a>
      </li>
     
    </ul>
  </div>
</nav>